.item {
    width: 80%;
    margin-right: 40px;
    background-color: #91e99d;
    padding: 40px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}

.item > * {
    padding: 20px;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
}

.image {
    height: 400px;
    width: 400px;
}

.link {
    margin-top: 40px;
    align-self: flex-start;
}