.navbar {
    width: 100vw;
    background-color: #59ccc0;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    gap: 100px;
    grid-column: 1 / 2;
}

.link {
    color: white;
    text-decoration: none;
}
